<p>Welcome!</p>
<table class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Date Time</th>
    <th scope="col">Subject</th>
    <th scope="col">To</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let mail of mails | async; let i = index;">
    <td scope="row" [id]="i + 1 + ((page-1) * pageSize)"><a [routerLink]="['/mail', mail.messageId]" (click)="viewEmailContent($event, mail)">{{ i + 1 + ((page-1) * pageSize)}}</a></td>
    <ng-template #tooltip>{{mail.sent | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</ng-template>
    <td placement="top" [ngbTooltip]="tooltip" container="body">{{mail.sent | amTimeAgo}}</td>
    <td>{{mail.subject}}</td>
    <td>{{fetchEmailAddress(mail.to)}}</td>
    <td><a [routerLink]="['/mail', mail.messageId]" (click)="viewEmailContent($event, mail)"><i class="fa fa-info-circle"></i></a></td>
  </tr>
  </tbody>
</table>
<ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalCount"
                [(page)]="page"
                [boundaryLinks]="true"
                [maxSize]="5"
                [ellipses]="false"
                [pageSize]="pageSize"
                (pageChange)="fetchMails()"></ngb-pagination>
<button class="btn btn-primary" (click)="clearMails()">Clear Mails</button>
