<button (click)="gotoHome()" type="button" class="btn btn-primary mb-3">Back</button>
<div class="jumbotron" *ngIf="mail">
    <dl class="row">
        <dt class="col-sm-3">Subject</dt>
        <dd class="col-sm-9">{{mail.subject}}</dd>

        <dt class="col-sm-3">From</dt>
        <dd class="col-sm-9">{{mail.from | recipient}}</dd>

        <dt class="col-sm-3">To</dt>
        <dd class="col-sm-9">{{mail.to | recipient}}</dd>

        <dt class="col-sm-3">Sent</dt>
        <dd class="col-sm-9">{{mail.sent | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</dd>
    </dl>
    <h3>Content:</h3>
    <p [innerHTML] = "mail.body"></p>
</div>
<button (click)="gotoHome()" type="button" class="btn btn-primary">Back</button>
